/* text in table cells is in the middle */
.table > tbody > tr > td { vertical-align: middle; }

/* tweaks */
.prewrap { white-space: pre-wrap; }
.popover { max-width: 45%; }
.nowrap { white-space: nowrap; }

/* css dropdown menus */
div.dropdown {  display: inline; }
a.dropdown-toggle:focus {  pointer-events: none; }
a.dropdown-toggle:focus + .dropdown-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.dropdown-menu {
  opacity: 0;
  display: block;
  visibility: hidden;
  transition: visibility 0.5s;
}

/* fading background thumbnail */
#background {
  z-index: -1000;
  position: fixed;
  height: 100%;
  width: 100%;
}
#background img {
  width: 100%;
  opacity: 0;
}

/* tag browser */
div.tags {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
}
.tag:hover a { opacity: 1;
  opacity: 1;
}
.archivetaglink { opacity: 0; }

/* main nav links are green and courier */
#nav-links a { margin-right: 1em; font-family: courier; color: #444 }
#nav-links a:hover { color: green; text-decoration: none }

/* helper class */

/* on big screen leave space for the player */
@media screen and (min-width: 992px) {
  td.listbuttons { min-width: 33em }
}
